.breadcrumb {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    background: none;
    width: 100%;


    & li a {
        color: black;
        text-decoration: none;
    }

    & .active {
        color: black;
    }

    & a:hover {
        color: @bg-orange;
    }
}

.breadcrumb__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb li {
    display: inline-block;

    &:last-child {
        font-weight: bold;
    }

    &::after {
        content: "/";
        padding-left: 5px;
        display: inline-block;
    }

    &:last-child::after {
        content: '';
    }
}

.breadcrumb .fa-home {
    display: inline-block;
    vertical-align: bottom;
    background: url("/img/home.svg") no-repeat;
    background-position: center;
    background-size: 15px;
    width: 15px;
    height: 15px;
}