.btn {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 12px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #008003;
    background-color: @bg-green;
    cursor: pointer;
    outline: none;

    &:hover {
        opacity: 0.8;
        color: #fff;
    }

    &:active {
        background-color: darken(@bg-green, 15%);
    }
}

.btn--auth {
    font-family: 'Caveat', sans-serif;
    font-size: 30px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
}

.btn--cart {
    margin: 0 auto;
    padding: 0 25px;
    padding-bottom: 5px;
    font-family: 'Caveat', sans-serif;
    font-size: 30px;
    line-height: 30px;
    height: 60px;
    border-radius: 30px;
    text-transform: lowercase;
}