.pagination {
    margin: auto;
    width: 100%;
    text-align: center;
}

.pagination__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination__item {
    display: inline-block;
    border: 1px solid @bg-brown;
    border-radius: 3px;

    &:hover {
    background-color: #ebb766;
}

    &:active {
        opacity: 0.8;
    }
}

.pagination__link {
    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 14px;
}

.pagination__item--active {
    font-weight: bold;
    border: none;
    cursor: default;

    &:hover {
        background-color: transparent;
    }

    &:active {
        opacity: 1;
    }
}

.pagination__item--disabled span {
    display: inline-block;
    padding: 4px 6px;
    cursor: default;
}

.pagination__item--disabled {
    color: grey;
    border-color: grey;
    &:hover {
        background: transparent;
    }

    &:active {
        opacity: 0.8;
    }
}
