.table-orders {
  display: table;
  padding-bottom: 20px;
  margin-bottom: 25px;
  background-color: @bg-light-brown;
  border: 1px dashed @bg-border-light-brown;
  border-radius: 10px;
  color: @font-brown;;
}

.table-orders__wrapper {
  display: contents;
}

.table-orders__header {
  display: none;
}

.table-orders__order {
  width: 44%;
}

.table-orders__row {
  display: table-row;

  &:nth-child(2) .table-orders__cell {
    padding-top: 0;
  }

  &:last-child .table-orders__cell {
    padding-bottom: 0;
    border: none;
  }
}

a.table-orders__row:hover {
  font-weight: bold;
  cursor: pointer;
}

.table-orders__cell {
  display: table-cell;
  padding: 20px 0;
  padding-left: 25px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px dashed @bg-border-light-brown;

  &:last-child {
    padding-right: 0;
  }
}

.table-orders a {
  text-decoration: none;
  color: @font-brown;
  cursor: pointer;
}

@media @tablet-widths {
  .table-orders {
    margin: 0;
    margin-bottom: 25px;
    width: 100%;
  }

  .table-orders__header {
    display: table-row;
    font-family: 'Bad Script', sans-serif;
    font-size: 24px;
    text-align: left;

    & .table-orders__cell {
      padding-bottom: 25px;
    }
  }

  .table-orders__order {
    width: auto;
  }

  .table-orders .table-orders__row:nth-child(2) .table-orders__cell {
    padding-top: 25px;
    //border-top: 1px dashed @bg-border-light-brown;
  }
}

@media @desktop-widths {

}
