@bg-orange: #e7821f;
@bg-brown: #c16408;
@bg-blue: #60bdde;
@bg-green: #0d960b;
@bg-red: #f33927;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 970px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5 dppx)";