<link rel="import" href="image-item.html">
<link rel="import" href="upload-button.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="image-list">
    <template>
        <style>
            :host .list {
                margin: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
            }

            :host h2 {
                margin-bottom: 25px;
            }

            :host .btn__wrapper {
                margin-bottom: 25px;
            }
        </style>
        <iron-ajax id="ajax"
                   auto
                   url="/api/goods/{{goodId}}?fields=images"
                   handle-as="json"
                   on-response="handleResponse"
                   last-response="{{response}}"
                   debounce-duration="300"></iron-ajax>
        <h2>Уже загруженые изображения</h2>
        <div id="old-images" class="list">

            <template is="dom-repeat" items="{{resp}}">
                <image-item good-id="{{item.goodId}}" index="{{index}}"
                            file-name="{{item.fileName}}" image-id="{{item.id}}" main="{{item.main}}">

                </image-item>
            </template>

        </div>
        <hr>
        <upload-button></upload-button>
        <div id="new-list" class="list">
            <template id="domRepeat" is="dom-repeat" items="{{images}}">
                <image-item good-id="{{item.goodId}}" src="{{item.src}}" index="{{index}}"
                            file-name="{{item.name}}">

                </image-item>
            </template>
        </div>
        <button id="button-save" type="submit" on-tap="upload" class="btn btn-success hidden">Сохранить картинки
        </button>
        <content></content>


        <!--<iron-ajax id="ajax"
                   method="POST"
                   content-type="application/json"
                   url="/api/images/upload"
                   on-response="handleResponse"></iron-ajax>-->

    </template>
    <script>
        Polymer({
            is: 'image-list',
            properties: {
                goodId: Number,
                images: {value: [], type: Array},
                resp: Array,
            },
            handleResponse: function(event, response) {
                this.resp = [];
                this.$.domRepeat.render();
                this.resp = event.detail.response.images;

            },
            addItems: function(files) {

                var postLoad = function(item, event) {
                    item.goodId = this.goodId;
                    item.src = event.currentTarget.result;

                    this.push('images', item);

                    if (this.images.length > 0) {
                        this.$$('#button-save').classList.remove('hidden');
                    }

                };

                Array.from(files).forEach(function(item) {
                    if (!this.searchInArray(this.images, item)) {
                        var reader = new FileReader();
                        reader.addEventListener('load', postLoad.bind(this, item));
                        reader.readAsDataURL(item);
                    }
                }.bind(this));

            },
            removeNewItem: function(index) {
                this.splice('images', index, 1);
                if (this.images.length == 0) {
                    this.$$('#button-save').classList.add('hidden');
                }
            },
            upload: function(e) {
                e.preventDefault();

                if (this.images.length > 0) {
                    this.images.forEach(function(item) {
                        var formData = new FormData();
                        formData.append("goodId", this.goodId);
                        formData.append("Image[imageFile]", item);

                        var xhr = new XMLHttpRequest();

                        xhr.onloadend = function() {
                            this.images = [];
                            this.$$('#button-save').classList.add('hidden');

                            setTimeout(function() {
                                this.$.ajax.generateRequest();
                            }.bind(this), 1000);
                        }.bind(this);

                        xhr.open("POST", "/api/images/upload");
                        xhr.send(formData);

                    }.bind(this))
                }
            },
            searchInArray: function(arr, item) {
                for (var j = 0; j < arr.length; j++) {
                    if (arr[j].name == item.name) {
                        return true;
                    }
                }
                return false;
            }
        })
    </script>
</dom-module>