<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">;

<dom-module id="image-item">
    <template>
        <style>
            :host {
                margin-right: 25px;
                margin-bottom: 25px;
                padding: 15px;
                padding-bottom: 30px;
                position: relative;
                display: inline-block;
                width: 190px;
                border: 1px solid lightgrey;
                border-radius: 5px;
            }

            :host img {
                margin-bottom: 10px;
                width: 100%;
            }

            :host .remove {
                width: 25px;
                height: 25px;
                position: absolute;
                right: -10px;
                top: -10px;
                background: white;
                border: 1px solid #ededed;
                border-radius: 50%;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                outline: none;
                font-size: 0;
            }

            :host .remove::after,
            :host .remove::before {
                content: "";
                position: absolute;
                display: block;
                width: 10px;
                height: 2px;
                background: grey;
            }

            :host .remove::before {
                transform: rotate(45deg);
            }

            :host .remove::after {
                transform: rotate(-45deg);
            }

            :host .file-name {
                margin: 0;
                font-size: 12px;
                word-wrap: break-word;
                text-align: center;
            }
        </style>
        <img src="{{src}}">
        <button type="button" on-tap="remove" class="remove" data-name="{{fileName}}">Удалить</button>
        <p class="file-name">{{fileName}}</p>
        <paper-toggle-button on-tap="changeMain">Основная
        </paper-toggle-button>
        <content></content>
        <iron-ajax id="ajax" url="/api/images/{{imageId}}">

        </iron-ajax>
        <!--<iron-ajax
                id="get-ajax"
                url="/api/images/{{imageId}}"
                handle-as="json"
                on-response="handleResponse">

        </iron-ajax>-->
    </template>
    <script>
        Polymer({
            is: 'image-item',
            properties: {
                index: Number,
                goodId: Number,
                fileName: String,
                src: String,
                imageId: Number,
                main: Number,
            },
            changeMain: function(event) {

                var formData = new FormData();
                if (event.currentTarget.checked) {
                    formData.append("main", 1);
                } else {
                    formData.append("main", 0);
                }


                var xhr = new XMLHttpRequest();

                xhr.open("POST", "/api/images/toggle-main?id=" + this.imageId);

                xhr.send(formData);
            },
            ready: function() {

                if (!this.src) {
                    //this.$$('#get-ajax').generateRequest();

                    this.src = "/img/goods/" + this.goodId + "/" + this.fileName;

                    if (this.main) {
                        this.$$('paper-toggle-button').checked = true;
                    }



                } else {

                }
            },
            handleResponse: function(event) {
                var resp = event.detail.response;
                this.src = "/img/product/" + resp.goodId + "/" + resp.fileName;
                this.fileName = resp.fileName;
                this.main = resp.main;
            },
            remove: function(event) {
                var imageList = document.querySelector('image-list');

                if (imageList) {
                    if (this.parentNode.id == 'old-images') {
                        if (confirm('Вы действительно хотите удалить эту картинку с сайта?')) {
                            this.$.ajax.method = 'DELETE';
                            this.$.ajax.generateRequest();
                            this.parentNode.removeChild(this);
                            //imageList.querySelector('#ajax').generateRequest();
                        }
                    } else {
                        imageList.removeNewItem(this.index);
                        this.parentNode.removeChild(this);
                    }
                }
            }
        })
    </script>
</dom-module>