.wrap {
    padding-top: 60px;
}

.navbar .nav .logout {
    padding-top: 15px;
    padding-bottom: 15px;
}

.grid-view td.action-column {
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.1em;
    max-width: 7em;
}

.good-form {
    min-height: 600px;
}

.good-form paper-tabs {
    margin-bottom: 25px;
}