<link rel="import" href="parent-tree.html">
<link rel="import" href="children-catalog.html">
<link rel="import" href="children-good.html">

<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">

<dom-module id="choice-form">
    <template>
        <style>
            :host {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }

            :host .field-choice {
                margin: 0;
                padding: 10px 20px;
                border: solid 1px grey;
                height: 40px;
                min-width: 200px;
            }

            :host paper-dialog {
                top: 0;
                padding: 0 25px;
                z-index: 9999;
            }

            :host paper-spinner-lite {
                display: block;
                margin: 0 auto;
            }
        </style>
        <div class="field-wrapper">
            <label>{{label}}</label>
            <span class="article">{{article}}</span>
            <input type="text" name="{{attr}}" value="{{id}}" hidden>
            <p class="field-choice">{{name}}<paper-spinner-lite id="spinner"></paper-spinner-lite></p>
        </div>
        <paper-button raised id="deleteButton" class="visually-hidden" on-tap="delete">Очистить</paper-button>
        <paper-button raised on-tap="open">Выбрать</paper-button>
        <content></content>
        <paper-dialog id="scrolling">
            <h2>Выберите товар</h2>
            <paper-dialog-scrollable>
                <parent-tree entity-id="{{entityId}}"></parent-tree>
                <children-catalog entity-id="{{entityId}}"></children-catalog>
                <children-good category-id="{{categoryId}}"></children-good>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Отмена</paper-button>
                <paper-button dialog-confirm on-tap="confirm">Выбрать</paper-button>
            </div>
        </paper-dialog>
        <iron-ajax id="ajax"
                   url="/api/category/parent"
                   handle-as="json"
                   on-response="handleResponse"
                   last-response="{{response}}"
                   debounce-duration="300"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'choice-form',
            properties: {
                'article': String,
                'attr': String,
                'placeholder': String,
                'model': String,
                'entityId': Number,
                'goodFlag': Boolean,
                'goodId': Number,
                'categoryId': {type: Number, value: 0},
                'name': String,
                'itemCategory': Object,
                'itemGood': Object,
            },
            confirm: function() {
                if (this.goodFlag) {
                    this.name = this.itemGood.name;
                    this.id = this.itemGood.id;
                    this.article = this.itemGood.article;
                } else {
                    this.name = this.itemCategory.name;
                    this.id = this.itemCategory.id;
                    this.article = this.itemCategory.article;
                }

            },
            delete: function() {
                this.spinnerOn();
                this.$.ajax.url = '/api/good/delete-main-good';
                this.$.ajax.method = 'DELETE';
                this.$.ajax.params = {
                    'id': this.goodId,
                };
                this.$.ajax.generateRequest().completes.then(
                    (request) => {
                        this.id = null;
                        this.name = this.placeholder;
                        this.article = '';
                        this.$.deleteButton.classList.add('visually-hidden');
                        this.spinnerOff();
                    },
                    request => console.log('failure', request)
                );
            },
            handleResponse: function() {
                this.spinnerOff();
            },
            findGood: function() {
                this.$.ajax.url = '/api/goods/' + this.entityId;
                this.$.ajax.generateRequest().completes.then(
                    (request) => {
                        this.id = request.response.id;
                        this.name = request.response.name;
                        this.article = request.response.article;
                        this.entityId = request.response.category.id;
                        this.categoryId = request.response.category.id;
                        this.spinnerOff();
                        this.$.deleteButton.classList.remove('visually-hidden');
                    },
                    request => console.log('failure', request)
                );
            },
            findEntity: function() {
                this.$.ajax.url = '/api/'+ this.model +'/' + this.entityId;
                this.$.ajax.generateRequest().completes.then(
                    (request) => {
                        this.id = request.response.id;
                        this.name = request.response.name;
                        this.spinnerOff();
                    },
                    request => console.log('failure', request)
                );
            },
            open: function() {
                this.$.scrolling.open();
            },
            ready: function() {
                if (this.entityId == 0) {
                    this.name = this.placeholder;
                } else {
                    this.spinnerOn();
                    if (this.goodFlag) {
                        this.findGood();
                    } else {
                        this.findEntity();
                    }
                }
            },
            spinnerOn: function() {
                this.$.spinner.active = true;
                this.$.spinner.style.display = 'block';
            },
            spinnerOff: function() {
                this.$.spinner.active = false;
                this.$.spinner.style.display = 'none';
            },
        })
    </script>
</dom-module>