<link rel="import" href="/bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="parent-tree">
    <template>
        <style>
            :host {
                position: relative;
                width: 100%;
                display: block;
            }

            :host .parent-folder .glyphicon {
                margin-right: 5px;
                color: #e69f54;
            }

            :host .parent-folder {
                margin-bottom: 5px;
                cursor: pointer;
            }

            :host paper-spinner-lite {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                margin: 0 auto;
            }
        </style>
        <paper-spinner-lite id="spinner"></paper-spinner-lite>
        <template id="domRepeat" is="dom-repeat" items="{{parentCategories}}">
            <div class="parent-folder"
                 on-dblclick="dblClickFolder"
                 onselectstart="return false"
                 onmousedown="return false"
                 data-entity-id="{{item.id}}">
                {{item.offset}}<span class="glyphicon glyphicon-folder-open"></span>{{item.name}}
            </div>
        </template>
        <content></content>
        <iron-ajax id="ajax"
                   handle-as="json"
                   on-response="handleResponse"
                   last-response="{{response}}"
                   debounce-duration="300"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'parent-tree',
            properties: {
                entityId: {type: Number, observer: '_runAjax'},
                parentCategories: Array,
            },
            _runAjax: function() {
                this.spinnerOn();
                if (this.entityId != 0) {
                    this.$.ajax.url = "/api/categories/" + this.entityId;
                }
                this.$.ajax.generateRequest();

            },
            dblClickFolder: function(evt) {
                var target = evt.currentTarget;
                var choiceForm = this.parentElement.parentElement.parentElement.parentElement;

                this.spinnerOn();
                this.entityId = target.dataEntityId;
                this.parentElement.querySelector('children-catalog').entityId = this.entityId;

                if (choiceForm.goodFlag) {
                    choiceForm.categoryId = this.entityId;
                }

            },
            handleResponse: function() {

                this.parentCategories = [
                    {
                        'id': 0,
                        'name': 'Корневая директория',
                        'offset': '',
                    }
                ];

                if (this.entityId != 0) {
                    if (this.response.parent != null) {
                        this.push('parentCategories', {
                            'id': this.response.parent.id,
                            'name': this.response.parent.name,
                            'offset': '--',
                        });
                    }
                    this.push('parentCategories', {
                        'id': this.response.id,
                        'name': this.response.name,
                        'offset': '--'
                    });
                }

                this.spinnerOff();
            },
            spinnerOn: function() {
                this.$.spinner.active = true;
                this.$.spinner.style.display = 'block';
            },
            spinnerOff: function() {
                this.$.spinner.active = false;
                this.$.spinner.style.display = 'none';
            },
        })
    </script>
</dom-module>